[2015-06-19 14:45] freemo opened #3 "Update Ferma to use Tinkerpop v3"
We need to start preparing Ferma to use Tinkerpop v3 as the backend. If we can get someone to update the code in a new branch to be fully compatible with the Tinkerpop v3 release, and all the unit tests passing we should be golden!

[2015-06-22 17:11] mohataher opened #4 "getVertex(id,class) method not implemented in DelegatingFramedGraph class"
When converting from Frames to Ferma, I found this issue.

Why `DelegatingFramedGraph` doesn't implement `getVertex(Object id, Class Type)`?

[2015-06-22 17:38] freemo commented on #4
@mohataher  Please submit all issues via JIRA at http://bugs.syncleus.com .. Issues are only enabled on github for use with bountysource.

[2015-06-28 02:18] #4 closed

[2015-07-28 10:29] Jotschi opened #7 "addFramedEdge is not setting type resolution key property"
Used method:

      <T> T addFramedEdge(final VertexFrame source, final VertexFrame destination, final String label, Class<T> kind);

Version: 2.1.0-SNAPSHOT

I will take a look at this when i find the time and add a testcase that reproduces this problem.

[2015-07-28 10:32] Jotschi commented on #7
Bug was on my implementation side. Closing the issue.

[2015-07-28 10:32] #7 closed

[2015-08-13 06:25] enRGi opened #8 "AdjacencyMethodHandler: IllegalStateException on Direction.OUT"
Hi,

just wanted to take a quick look into Ferma and discovered the first issue. In AdjacencyMethodHandler.java, line 411 and 441 there is no 'break' so when using Direction.OUT an IllegalStateException is always thrown.

Best regards,
René

[2015-08-13 12:26] freemo commented on #8
We use jira for our bug reporting, not github. But thanks for the report I'll fix it today. In the future please use: http://bugs.syncleus.com

[2015-08-13 12:28] freemo commented on #8
Also since you are comparing Ferma and trying out the alternatives check this page out:
http://wiki.syncleus.com/index.php/Ferma:Comparing_the_Alternatives

[2015-08-17 15:34] freemo commented on #8
@enRGi This fix has been merged into master and should now be working. it is part of 2.1.0 snapshot and will be released in the next released (which is likely to be later today). Thanks for your help.

[2015-08-17 16:50] #8 closed

[2015-08-17 20:21] freemo commented on #8
@enRGi FYI version 2.1.0 has now been released with this fix incorporated.

[2015-08-19 09:55] enRGi commented on #8
Thank you for your efforts and infos. I will look into it.

[2015-09-25 17:45] Jotschi opened #10 "OrientDB 2.1.x Transaction/Concurrency Compatibility"
OrientDB's transaction handling requires some workarounds to be applied in order to be used in combination with Ferma.
- OrientGraph instances are not threadsafe.
- A new transaction has to be created for each thread.
- OrientDB Elements (eg.: OrientVertex) are not threafsafe. Thus the element has to be reloaded when switching threads of passing a ferma element from one thread to another.

I creat

[2015-10-17 18:46] Jotschi commented on #10
I create a small extension library which provides some abstract classes and other useful stuff when dealing with transactions in ferma + orientdb.

The project currently is just a collection of tests and classes. I have no plan to release it. It can be used as a reference when using orientb with ferma.

https://github.com/Jotschi/ferma-orientdb-extension

[2015-10-17 18:47] freemo commented on #10
Do you think this is something that might be useful as a part of Ferma? I
will have to take a closer look at it.

On Sat, Oct 17, 2015 at 2:46 PM, Johannes Schüth <notifications@github.com>
wrote:

[2015-10-17 18:59] Jotschi commented on #10
I'm not sure. The only ferma specific parts are AbstractDelegatingFramedOrientGraph, AbstractInterceptingEdgeFrame and AbstractInterceptingVertexFrame. Those classes just tweak the default behavior of ferma to allow transaction handling and element creation in oder to provide orientdb types. (related to question: https://groups.google.com/a/syncleus.com/forum/#!topic/ferma-list/NfGw2KjqC4I)
So far

[2015-10-17 19:05] Jotschi commented on #10
But i would welcome vendor specific submodules for ferma.

[2015-10-17 19:05] freemo commented on #10
I too would love to see vendor specific submodules.. so if we can get it to
a point that is useful and clean id be happy to make it part of the project.

On Sat, Oct 17, 2015 at 3:05 PM, Johannes Schüth <notifications@github.com>
wrote:

[2015-10-22 05:05] ykim commented on #3
Any updates on this front? I'd be interested in helping, but I'm not too familiar with the differences between TP2 and TP3.

[2015-10-22 11:00] freemo commented on #3
No takers yet. I am however going to put a few hundred dollars up as a
bounty on this feature if you're interested.

On Thu, Oct 22, 2015 at 1:05 AM, Young Kim <notifications@github.com> wrote:

[2015-10-22 18:45] Jotschi commented on #3
I quickly looked at the expected changes. Wrapping of graphs works differently in TP3. Predicate handling for traversals has changed. Vertices and Edges are now also directly traversals. So far i think much of the ferma codebase must be rewritten from scratch (com.syncleus.ferma.pipes, com.syncleus.ferma.traversals). It might be possible to utilize the TraversalStrategy feature in order to integra

[2015-10-22 19:15] freemo commented on #3
Yea Ferma to support TP3 would likely be a considerable rewrite. Backwards
compatibility probably wouldn't exist. The main reason I myself haven't put
in the effort is because even if I wrote a Ferma for TP3 that worked
perfectly I wouldn't use it. TP3 is insanely poor in the performance
department, TP2 still blows it out of the water in that regard. I wrote
Ferma to replace Frames specifically to

[2016-09-22 07:55] freemo commented on #3
This issue now has a $150 bounty for anyone who can complete it.

[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=22479023)](https://www.bountysource.com/issues/22479023-update-ferma-to-use-tinkerpop-v3?utm_source=22479023&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2016-10-23 19:15] #3 closed

[2017-01-02 09:18] wsalembi opened #12 "ClassCastException: Employee$ByteBuddy$Yxytgyif cannot be cast to com.syncleus.ferma.AbstractElementFrame"
A basic vertex creation in Ferma 3.0.2 generates a ClassCastException:

    java.lang.ClassCastException: com.syncleus.ferma.annotations.FermaTest$Employee$ByteBuddy$Yxytgyif cannot be cast to com.syncleus.ferma.AbstractElementFrame

    	at com.syncleus.ferma.DelegatingFramedGraph.frameElement(DelegatingFramedGraph.java:243)
    	at com.syncleus.ferma.DelegatingFramedGraph.frameNewElement(Delegat

[2017-01-02 09:39] freemo commented on #12
This is because your Frame is a class but implements the interface VertexFrame. That is not allowed. You have two ways in which you can resolve this:

1) Make your Frame an interface instead of a class.

[code]

2) extend from `AbstractVertexFrame` instead of the `VertexFrame` interface.

[code]

Both examples above work. I am going to close this issue since it doesnt represent a known bug or feat

[2017-01-02 09:39] #12 closed

[2017-01-02 09:47] freemo opened #13 "Improve the usefulness of class cast exception."
There are a few exceptions for which we could improve the message to be more useful. Consider the following ticket as an example: https://github.com/Syncleus/Ferma/issues/12

[2017-01-02 12:43] wsalembi commented on #12
I just followed your documentation and replaced extends by implements because it didn't compile

    public abstract class Person extends VertexFrame {
      @Property("name")
      public abstract String getName();

[2017-01-02 12:44] freemo commented on #12
Where in the documentation did you find that? I will update it.

[2017-01-02 12:47] wsalembi commented on #12
Here: https://github.com/Syncleus/Ferma/blob/master/README.md

[2017-01-02 12:50] freemo commented on #12
@wsalembi Thank you I just fixed this in the readme. Please let me know if you have any problems with any of the other documentation.

[2017-03-19 23:26] alvanson opened #16 "Required argument type in AbstractVertexFrame.traverse() does not allow for anonymous traversals"
In the `Node.java` reproduced below, using Ferma 3.0.2 and tinkergraph-gremlin 3.2.3 on OpenJDK 8u121-b13, attempting to use Node.traverse() with an anonymous traversal (`__.out("parent")`) results in the following compile-time error (change the call to `traverse1()` back to `traverse()` first):

[code]

Changing the argument type of `traverse()` from `Function<GraphTraversal<? extends Vertex, ? e

[2017-03-19 23:52] freemo commented on #16
@alvanson I will be able to try out this code and take a closer look at it tomorrow. Hope it isnt blocking you at the moment.

[2017-03-20 00:02] alvanson commented on #16
@freemo No problem. I'm working around the issue right now by calling `getGraph().traverse((g) -> g.V(getElement().id())...)` instead of `traverse(...)`, so I'm not currently blocked.

[2017-04-10 12:52] zifnab87 opened #17 "Any plans to integrate with Spring Data and support Datastax DSE Graph?"
I am curious if it would be possible to have a Spring Data integration of all the Gremlin graph databases - something like: https://github.com/gjrwebber/spring-data-gremlin but using Tinkerpop 3+. I was expecting a less verbose annotation style without the need to create new classes (framed vertices/edges) like it is done with neo4j ogm: https://github.com/neo4j/neo4j-ogm. It would be nice if spri

[2017-04-11 17:32] freemo commented on #17
No "plans" but I would be happy to merge any solutions in this regard. So it would be a welcome addition as well. Is tinkerpop able to suppore Datastax DSE graph directly?

[2017-04-11 18:30] zifnab87 commented on #17
at least for my project I am using pure gremlin syntax to query and do mutations. The problem is actually they way they implicitly decide when to commit a transaction. Using a single statement in their fluent  gremlin api it is a single transaction. Using their string based gremlin api you can have a multiple statement transaction. They haven't implemented the explicit tinkerpop methods for starti

[2017-04-11 22:04] freemo commented on #17
@zifnab87 Correct me if im wrong but that sounds like a limitation that Ferma could not actually get around. If it doesnt provide the means to do something Ferma can't do it either.

[2017-04-11 22:23] zifnab87 commented on #17
Yeah you are correct although their fluent api is work in progress so hopefully when they finish their transaction implementation they can be integrated

https://datastax-oss.atlassian.net/browse/JAVA-1250
https://datastax-oss.atlassian.net/browse/JAVA-1311

[2017-04-11 22:28] freemo commented on #17
@zifnab87 Most likely once they complete their API someone (maybe me) will write a tinkerpop driver for it. At that point Ferma will work with it out of the box without needing any modifications to Ferma itself.

[2017-04-12 19:45] #17 closed

[2017-06-17 13:23] freemo opened #20 "Update javadoc links"
On the Ferma hosted documentation/page several versions are missing from the javadoc links.

https://github.com/Syncleus/Ferma

[2017-06-17 13:27] freemo opened #21 "Update checklist in CONTRIBUTING.md"
The checklist currently used in the CONTRIBUTING.md file was pulled over from another project. While it is mostly accurate it should be updated to be specific to Ferma.

Specifically this section could be improved upon:

[code]

[2017-06-29 14:09] mikrobe opened #22 "Adding a custom Annotation"
In order to register a custom Annotation, it is necessary to create an annotation method handler and add it to the AnnotationFrameFactory's methodHandlers map.
The issue is that AnnotationFrameFactory's methodHandlers is private, hence it is not accessible.
Changing it to "protected" it allows to extend AnnotationFrameFactory and add the custom annotation handler right inside the constructor.

[2017-09-07 13:44] mullekay commented on #17
Is there an implementation for DSE Graph? Or is anyone aware of a JPA implementation for DSE Graph?

[2017-09-07 15:25] Jotschi commented on #10
We now have an OrientDB specific module for ferma which handles the vendor specific transactions. I think we can close the issue.

[2017-09-07 15:25] #10 closed

[2017-09-23 20:37] freemo commented on #22
@mikrobe hi, sorry I just noticed this ticket. Very sorry it slipped through the cracks, I usually implement issues quickly. I will investigate this and should have a fix in the next release for you.

[2017-09-23 20:38] freemo commented on #16
@alvanson Sorry this ticket seemed to slip through the cracks until now. Is it still an issue for you or has it been fixed? I can hopefully investigate it before the next release.

[2017-09-23 20:40] freemo commented on #16
@alvanson would you like to submit a pull request so we can add you in the contributors file for credit? If not its an easy enough change I can attempt to make it myself, assuming it doesnt break backwards compatibility.

[2017-09-24 05:12] freemo opened #27 "When the same adjacencies are set edges are dropped and recreated"
When a set operation is performed on an adjacency it always drops all existing edges then recreates them. However if the vertex in a set operation are already adjacencies those edges should be preserved.

[2017-09-25 20:35] alvanson commented on #16
@freemo I haven't been able to fix this issue without breaking backwards compatibility.

Explicitly casting `v` to `GraphTraversal<Vertex,Vertex>` is another possible workaround:
[code]

[2017-09-25 20:38] freemo commented on #16
We could break backwards compatibility if we bump major version. But may be
better to create a new method entirely with the new signature. Sadly due to
erasure we can't overload it.

On Sep 25, 2017 4:35 PM, "Evan Thompson" <notifications@github.com> wrote:

[2017-09-25 20:55] alvanson commented on #16
It seems like there may be some other underlying issues between TinkerPop and Java generics. For example, [apparently one needs to type `repeat()` when used as the head of an anonymous traversal.](https://groups.google.com/forum/#!msg/gremlin-users/J0dMLYj0MwE/1gdXT8GEBQAJ) Explicitly casting to `GraphTraversal<Vertex,Vertex>` by the calling code where required is probably cleaner overall than add

[2017-09-25 21:01] freemo commented on #16
@alvanson if we broke backwards compatability (and bumped the major version) to use the new form so you wouldnt have to cast would that cause any problems you can foresee other than the broken backwards compatibility?

Generics are erased at compile time so it shouldnt have any functional effects, i suspect the call to repeat just transforms an argument to one of the generics somehow.

[2017-09-25 22:02] freemo commented on #16
@alvanson So i just made this change to test it out in Ferma and it appears if i make this change all the unit tests continue to work and nothing really breaks. So while strictly speaking it could break backwards compatibility i think for the vast majority of users it would not.

I'm starting to think it might be a change worth making but id like to hear your thoughts.

[2017-09-25 23:54] freemo commented on #16
@alvanson So I just pushed this fix to master for evaluation. Let me know if it breaks anything for you. If so we can always revert it before the next release.

https://github.com/Syncleus/Ferma/commit/6b3a372dd6f0ca898c6f899088c5b234b27fc8eb

[2017-09-26 00:13] #16 closed

[2017-09-28 01:47] #22 closed

[2017-09-28 01:59] freemo commented on #20
fixed

[2017-09-28 01:59] #20 closed

[2017-09-29 01:58] freemo opened #32 "Remove .gitreview"
we no longer use gerrit, remove .gitreview.

[2017-09-30 03:08] freemo opened #33 "Update license header"
update license header to new year.

[2017-09-30 14:57] #33 closed

[2017-09-30 14:59] #32 closed

[2017-10-01 04:55] #21 closed

[2017-10-01 04:56] freemo commented on #13
decided not to fix this

[2017-10-01 04:56] #13 closed

[2017-10-01 17:31] freemo commented on #27
After further investigation I've decided this can't really be solved the way we planned. All current edges will be dropped and recreated. If an edge is to be preserved then remove and add forms of these methods can be called instead.

The reason for this is any solution that preserves existing edges needs to do one of two things:

1) Create an in-memory collection to hold all the edges to be delet

[2017-10-01 17:31] #27 closed

[2017-10-23 04:27] freemo opened #37 "[BOUNTY $50] Create a Ferma-examples project"
Create a Ferma-examples project including various usage examples. There should be a collection of very simple hello-world example projects showing off all of Ferma's features. There should also be an example project for each major graph DB and how Ferma can work with it. Ideally these should run in-memory through maven but when this isnt possible perhaps throw in some vagrant images as well.

[2017-10-23 11:14] Jotschi commented on #37
A good point to start would be to maybe migrate the following Ferma 2.x examples: https://github.com/Jotschi/graph-ogm-examples/tree/master/ferma

[2017-12-01 13:28] sebeard opened #38 "Allow @GraphElement to take a value"
Would it be possible to extend the GraphElement annotation to take in a String value (default "") that can be used to define a label of the Element/Edge/Vertex being created. If blank the simple class name could be used as a fallback.

[2017-12-01 13:50] freemo commented on #38
You can already do this via the @Adjaency or @Incidence annotation. Is there any reason this isnt sufficient?

[2017-12-04 08:47] sebeard commented on #38
Maybe I'm misusing or misunderstanding their usages. I do already use both these annotations.

From the example documentation;

[code]

I understand that;

-  `@Adjacency` is a link to a node 'close by' - i.e there is an edge from Person to another Person. Adjacency describes a means of traversing from Vertex to Vertex. Using the method `getKnowsPeople()` I can get a list of all the People this in

[2017-12-05 12:28] sebeard commented on #38
@freemo Thanks for the great explanation. I think I started to grasp that having delved a bit deeper.

My intention was to effectively label the vertices similar to the edges. I think this is leftover understanding from when I was trying out the Gremlin-OGM project before noticing yours. OGM didn't quite cut it in terms of resolving to different type hierarchies.

One question though - I'm seeing

[2017-12-05 15:20] freemo commented on #38
@sebeard so they are basically reusing the word "label" here to mean something entirely different from an edge label. When you do a Gremlin pipeline you can label any one step (effectively the group of vertex and edges represented by that step) with a specific label and then reference that label again later. for example when you see commands like `as("a")` at the link  you sent me it creates the l

[2017-12-05 15:29] freemo commented on #38
@sebeard Do we want to close this ticket, or are you requesting a feature whereby the type encoded into the graph can be customized?

[2017-12-05 17:22] sebeard commented on #38
@freemo Great thanks!! I think this can be closed. Thanks for aiding my understanding.

[2018-01-02 23:24] jsight opened #39 "Support pluggable classloaders for AnnotationFrameFactory"
Right now, this relies on the context classloader, but I would like to provide my own implementation for use by ByteBuddy.

[2018-01-03 00:07] freemo commented on #39
Sure. Feel free to submit a pull request with your ideas and I'll review it.

On Jan 2, 2018 6:25 PM, "Jesse Sightler" <notifications@github.com> wrote:

[2018-01-04 05:47] evillasr commented on #39
If I can help you I'll do it just let me know ✋  @jsight

[2018-01-04 20:52] jsight commented on #39
I can try to put together a PR with a few things like this that I have run into. I am currently working on migrating https://github.com/windup/windup to Ferma from Tinkerpop 2 and a forked version of frames.

[2018-01-04 21:06] freemo commented on #39
@jsight Any reason your using a forked version of frames rather than Ferma? I tried to make Ferma very close to Frames for compatibility reasons.

I can obviously help with the PR if anyone needs it. If no one gets to it ill try to add it myself when I have time. Very much appreciate all the help.

[2018-01-09 18:02] jsight commented on #39
https://github.com/Syncleus/Ferma/pull/42

We used a forked version of Frames because we had started with Frames before Ferma existed. We also use a lot of really esoteric functionality for various historical reasons.

[2018-01-15 16:43] jsight opened #44 "Frames should use traversals to manipulate the graph"
Based upon this conversation, this is the preferred way to create vertices and modify properties:

https://groups.google.com/forum/#!topic/gremlin-users/NFf9gJasjb8

Not doing this means that "EventStrategy" cannot be used effectively in conjunction with Ferma.

[2018-01-16 16:17] hatemalimam commented on #38
I'm little confused here, shouldn't all the Vertex be created in the Graph database in their corresponding label (Class.getName() for example) ? meaning if I create a framed vertex like this:

`User julia = fg.addFramedVertex(User.class);
  julia.setName("Julia");`

I get this in Neo4j

![screen shot 2018-01-16 at 17 09 58](https://user-images.githubusercontent.com/3439970/34998743-339fcbce-fae0-1

[2018-01-16 16:51] hatemalimam commented on #38
I managed to solve my issue with this:

`User user = fg.addFramedVertex(User.DEFAULT_INITIALIZER, T.label, "user");
  user.setName("Julia");`

[2018-02-28 16:57] oleghailenko opened #46 "Strange behavior of class casting."
Hello guys.
I have found some unexpected behaviour of using framed graph.
Let's assume we have 2 classes `A` and `B`. Each of them have the same property `name`.
In the graph are two objects: object `A` with `name` = `a`, and object `B` with name = `b`.
But if I am trying to traverse over graph to grab object with `name` = `b` and get object of kind `A` using method next... I am getting object `A`

[2018-02-28 17:36] freemo commented on #46
This is normal behavior and expected (for several reasons). When you do a next call it will cast the object into that type regardless of what type it is in the graph, however if it is a subtype int he graph it will instantiate as the subtype.

To do what you want to do you have to invoke the typeresolver's hasType method which will filter only by type (it takes the class you want to filter by).

[2018-02-28 17:46] freemo commented on #46
@oleghailenko Here is one of our unit tests that shows the proper way to do what your trying to do

[code]

[2018-02-28 18:13] freemo commented on #46
@oleghailenko closing this but feel free to continue to comment or reopen.

[2018-02-28 18:13] #46 closed

[2018-02-28 18:15] freemo commented on #44
@jsight I will look into this further. A PR is always welcome as well.

[2018-03-15 06:54] porunov opened #47 "Feature request: Adding label to a vertex"
I am using Ferma with JanusGraph. JanusGraph allows to set a label to a vertex. It would be awesome if Ferma could assign labels to vertices. Right now Ferma always assigns `vertex` label to all vertices.

[2018-03-15 12:50] porunov commented on #47
I didn't find it in the Ferma documentation but found in Tinkerpop documentation. Here is how to create vertices with custom labels:
[code]

[2018-03-15 12:51] #47 closed

[2018-04-15 16:53] tomasfernandezm opened #48 "Client driver version on ferma 3"
The error "The Client driver version is different than Server version: client=37, server=36. You could not use the full features of the newer version. Assure to have the same versions on both" comes up.

Can i use the client of version=36 in ferma 3?

[2018-04-15 16:56] freemo commented on #48
@tomasfernandezm  This error is likely completely unrelated to Ferma. It is more likely an issue with tinkerpop itself. Can you successfully use tinkerpop 3 directly?

[2018-04-15 17:24] tomasfernandezm commented on #48
my bad, i was using orientdb with 3.0. Downgraded ferma and ferma-orient to 2.X.X and it worked. Thanks

[2018-04-15 19:54] freemo commented on #48
@tomasfernandezm anytime! Good luck.

[2018-05-16 11:17] malagus opened #49 "How to handle detached elements with Ferma?"
TinkerPop supports re-attaching [DetachedElement](http://tinkerpop.apache.org/javadocs/3.2.2/full/org/apache/tinkerpop/gremlin/structure/util/detached/DetachedElement.html) back to graph. It's possible to achieve something similar using ferma ?
We using ferma in rest api so user can get some graph elements, modify them and send back so we need to update our graph element. Currently do doing it man

[2018-05-16 11:18] freemo commented on #49
When you start manually do you mean your detaching and reattaching using
the raw tinkerpop calls and then just wrapping/rewrapping with framed
objects?

On Wed, May 16, 2018, 7:17 AM malagus <notifications@github.com> wrote:

[2018-05-16 11:56] malagus commented on #49
something like that because we can't create instance of framed object without real graph

[2018-05-16 13:25] freemo commented on #49
We havent addressed this explicitly. But I need this feature for my own
software that uses Ferma as well. So I completely support extending the
system to support this. Would you like to help contribute a PR for this or
have any proposals for changes to the interface, or shall I spearhead that?

On Wed, May 16, 2018 at 7:56 AM, malagus <notifications@github.com> wrote:

[2018-05-18 05:30] malagus commented on #49
I can contribute. We can discuss the requirements.

[2018-05-18 13:30] freemo commented on #49
Wonderful, We can discuss here or in Gitter, which do you prefer?

On Fri, May 18, 2018 at 1:30 AM, malagus <notifications@github.com> wrote:

[2018-05-21 08:42] malagus commented on #49
We can discuss on Gitter

[2018-05-22 20:42] deepthought42 commented on #37
Hey guys, I'm working on trying to integrate Ferma with OrientDB in our company's product. I'd be happy to help build out an example using orientdb if someone can help me understand why I get NullPointer exceptions using annotation based traversals as is laid out in the current Readme.md

[2018-05-22 20:51] freemo commented on #37
Happy to help. Can you point to the specific example and the exception you
get please.

On Tue, May 22, 2018, 4:42 PM Brandon Kindred <notifications@github.com>
wrote:

[2018-05-22 20:52] Jotschi commented on #37
@deepthought42 Using Ferma with OrientDB should be no problem. We use it with OrientDB 2.2.x gentics/mesh - I also build an example to use it with the Tinkerpop 3.x API. https://github.com/Jotschi/vertx-graphql-example

An example using the new OrientDB 3.0.1 release / Graph API would be welcome I guess.

[2018-05-23 00:50] deepthought42 commented on #37
I feel like a shmuck. I had been battling this problem all day and simply spinning up a fresh database server seems to have fixed the problem. I definitely appreciate how quick you guys were at getting back.

@Jotschi  I found the project interesting. I haven't heard of gentics/mesh before but it looks like a really cool project. I'll definitely be digging into it and your example a bit more.

I s

[2018-05-23 06:15] Jotschi commented on #37
@deepthought42 Make sure to use OrientDB 3.0.1 and the new Graph API - https://orientdb.com/docs/3.0.x/release/3.0/What-is-new-in-OrientDB-3.0.html#new-database-administration-access-and-pooling-api - As well as Tinkerpop 3.x - I would be interested in an example. I have not yet had time to test TP 3 support of OrientDB 3.0.0 although the vertx-graphql-example is already using TP3 using an OrientD

[2018-05-23 20:11] deepthought42 commented on #37
@Jotschi not a problem. I'm well on my way with it. I have run into a slight problem though. With OrientDB 3.0.1, and the latest maven releases for ferma and ferma-orientdb I ran into the issue that everything executes correctly, but nothing actually gets saved to the database when I use OrientTransactionFactoryImpl. Oddly enough, if I use DelegatingFramedGraph<OrientGraph> everything saves withou

[2018-05-23 21:07] Jotschi commented on #37
@deepthought42 No that does not ring a bell.. sorry. I just know that the transaction handling has been touched in OrientDB 3.x Maybe that had an effect on the implementation. Some transaction handlers may require you to actively invoke `tx.success();` Otherwise `close()` for try-with-resouces will not invoke `commit()`. I hope that I will soon have some time to work on the migration to OrientDB 3

[2018-05-24 18:44] deepthought42 commented on #37
@Jotschi I ran into another issue when putting together examples. I generally like having an example for every way a tool can be used, so I started creating examples using abstract classes, interfaces and concrete classes. For some reason using annotations with concrete classes will allow me to save a vertex, but it won't save any of the properties or create edges for an adjacency. Have you experi

[2018-05-24 18:50] freemo commented on #37
Perhaps it would be easier if you post a link to your repo and the specific
place where the problem exists. A lot easier to diagnose problems when we
can see the source code.

On Thu, May 24, 2018 at 2:44 PM, Brandon Kindred <notifications@github.com>
wrote:

[2018-05-26 04:26] deepthought42 commented on #37
No problem the repo can be found here. https://github.com/deepthought42/orientdb3-ferma

I'm not entirely sure where the problem is. As I said, it's not saving the properties on the concrete class. The peculiar thing to me is that my test passes as if the property were there.

https://github.com/deepthought42/orientdb3-ferma/blob/af601c4607b8e4070fa717e1059cd7b76cba37e4/src/test/java/qanairy/orien

[2018-06-26 13:01] oeil opened #50 "project status"
Hi guys, what is the status of this project? Is this something that is still living? thanks

- Good job BTW -

[2018-06-26 13:16] freemo commented on #50
It's still completely active, there just haven't been any bugs that need
addressing. There is some talk of some new minor features soon too.

On Tue, Jun 26, 2018, 3:02 PM EYL Francois <notifications@github.com> wrote:

[2018-06-27 11:18] oeil opened #51 "@Property on member variable instead of getter/setter"
Hi guys,

is there any plans on support annotations (e.g. @Property) at the member variable instead of getter/setters (similar to JPA)? This would provide a much better overall experience in Java as well as Kotlin.

Thanks,

[2018-06-27 13:01] freemo commented on #51
That would change the architecture significantly. you would have to pull
out objects, modify them, then submit them back to get updated (like you do
in jpa). In our current model when you call the setter it calls back to the
underlying tinkerpop object.

On Wed, Jun 27, 2018 at 1:18 PM EYL Francois <notifications@github.com>
wrote:

[2018-08-22 13:41] coder369 opened #52 "AWS Neptune Support?"
Amazon's graph db "Neptune" is now available. I'm looking to use Ferma as an OGM for an upcoming project. Amazon says Neptune supports Property Graphs by way of Apache TinkerPop. Does that mean by proxy Ferma will work with Neptune? I don't see it listed as an officially support graph db. If not what would it take to add support for it?

[2018-08-29 18:08] brean opened #53 "Change Vertex Label"
Is there a way to change the vertex label "vertex" to an own String? I looked into the API but all I found was how to change the label for an edge.

[2018-08-29 18:12] brean commented on #53
This has already been answered in #47, sorry

[2018-08-29 18:12] #53 closed

[2018-10-19 14:15] oodles-arvind-das opened #54 "Not persisting to JanusGraph"
I am trying to use ferma ORM for my project . Current problem is, I am not able to persist my entities to JanusGraph DB.
Here is my code Required :
**Entity Class**
[code]

This is how I create/initialize my DelegatedFramedGraph bean:

[code]

JanusGraph is initialized :

[code]

When I try to persist it:
[code]
Nothing is stored to JanusGraph, not sure where  is the problem.

Can somebody help me

[2018-10-19 15:50] oodles-arvind-das commented on #54
My bad, I made a basic mistake , I had to perform:
`framedGraph.tx().commit();`

This should be the part of FramedGraph on every add and other operations. The only thing left is , I did not get the Id property back.

[2018-10-19 16:33] oodles-arvind-das commented on #54
Thanks , can you guide me how can I get the currently saved object's Id back ?
Commit is a void operation and it does not return anything and also transaction is closed. Getting id property which is assigned by the graph is highly needed.

[2018-10-19 16:35] freemo commented on #54
Sure, but that will need to wait till im back home behind my desktop.

On Fri, Oct 19, 2018 at 6:33 PM oodles-arvind-das <notifications@github.com>
wrote:

[2018-10-19 16:59] oodles-arvind-das commented on #54
Got it, had to tinker a little, I should not be running too fast in asking questions without having tried out everything, but got it fixed.

`person.getElement().id()`

Since usage of Spring Framework wraps you in chains and you always expect that id returned from DB is automatically mapped to the id property of the entity, that took some time for me to come out of that world.

[2018-10-19 17:49] oodles-arvind-das commented on #54
Though this thread is closed now, I saw a behavior here, If I have my non abstract class and then ofcourse non abstract properties, ferma persists the node but not the properties. Is that the expected behavior ?

Following class is not persisted
[code]

[2018-10-19 18:00] oodles-arvind-das commented on #54
From the documentation this works
[code]
But why there is so much boilerplate code for getProperty and setProperty, and Post class instance is not able to have its own states, everything is driven by behavior (methods) and states are attained by the @Property annotation .

Please help me understanding that .

[2018-12-18 20:16] kevmegforest opened #55 "Ability to add keyValues on Edge and Vertex Creation"
I've got a bug with fields which are mandatory for classes.

I'm trying to create an Edge on an existing vertex using

`        edgeHasCalculs= COP_Vertex.addEdgeToExistingVStoreLocation(storeVertex, calculs.INITIALIZER_EHasCalculs);
        edgeHasCalculs.setTypeCalcul(classOf[VCOP].getSimpleName);
        edgeHasCalculs.setTimespan(timespan);
        edgeHasCalculs.setEnd_Date(endDate.toDate());

[2019-05-03 19:24] nachogarrone commented on #52
did you find any solution?

[2019-05-05 20:48] killje opened #57 "Ability to add labels on Vertex"
Labels are a integral part of tinkerpop graphs, with the option to add vertexes with `g.addV(label)`.

With this issue I am asking on input on ways to make it a more integral part in this project. In the text below I go over why it is that I would like to see it added. The current way of doing it and some possible solutions to implement it.

Labels are used to distinguish between vertexes. While i

[2019-05-11 15:48] freemo commented on #57
I'm not ignoring this. Just been getting surgery from which im recovering now. I will get to this soon I promise.

[2019-05-11 16:03] killje commented on #57
No problem. Get well soon.

[2019-05-19 13:18] matanshukry opened #58 "Sort/Order By?"
I'm just trying to use Ferma now (together with OrientDB), and I'm trying to find a way to sort through a result. I think there's a way using the .traverse() method, but the documentation doesn't seem to have almost any examples or information for such a thing.

How can I do that?

[2019-06-05 13:07] killje commented on #58
Yes you would use `.traverse()` as follows
[code]
Note that you do not have to add `GraphTraversalSource` in a lambda expression, but I added this for clarity. This is a Tinkerpop class and to see the abilities like sorting you should check out the the Tinkerpop documentation: http://tinkerpop.apache.org/docs/3.3.2/reference/

The traverse function is a way to access the graph traversal build in,

[2019-08-10 17:12] stozk commented on #54
I just encountered the same problem, the @property annotation didn't work, using setters/getters with setProperty works.

[2019-09-30 15:14] darius-sas commented on #57
Hi, are there any updates on this? I am also interested in this :)

[2019-09-30 16:37] freemo commented on #57
Sorry this went by the wayside. Let me review. I'd be willing to consider PR suggestions

[2020-03-06 20:42] freemo commented on #58
@killje Thanks for your help on this. Reach out to me anytime if you'd like to get more involved into the project. Either way, appreciate you responding on this one.

[2020-03-06 22:24] porunov opened #60 "Dependency reflections 0.9.12 doesn't add scanners on empty urls"
In `reflections` version `0.9.12` there is a bug which may indirectly be a problem when Ferma is used with JanusGraph.
Here in JanusGraph we retrieve `PreInitializeConfigOptions` even if there is no scanUrls.
https://github.com/JanusGraph/janusgraph/blob/677a57aa985a7ea47af70d0eaba30171d765c79d/janusgraph-core/src/main/java/org/janusgraph/core/util/ReflectiveConfigOptionLoader.java#L248

This work

[2020-03-06 22:28] freemo commented on #60
I can approve of this. Would it be possible to write a unit test that demonstrates this bug to assist us in upgrading it later on?

[2020-03-08 00:12] #60 closed

[2020-09-15 13:27] paulschwarz opened #65 "kind.newInstance() deprecated since Java 9"
I notice in `com.syncleus.ferma.framefactories.DefaultFrameFactory`, it calls `kind.newInstance()` which is deprecated since Java 9.

Also, the message "Could not instantiate kind: " + kind.getName() wasn't that helpful in establishing that the framework is looking for a default no-args constructor.

[2021-06-16 18:10] sascha08-15 commented on #52
Would be interested to know if that ever happened or if we have to use Gremlin directly when using Neptune.

[2021-06-16 18:18] freemo commented on #52
Hey, sorry I missed this, going to catchup on FERMA updates and get a new version out soon. Havent tested on Neptune but since FERMA just translates everything to gremlin anyway its hard to see why it wouldnt work. Have you tried it?

[2021-06-17 10:21] spmallette commented on #52
I think the issue is that Ferma needs a `Graph` instance to work and since that instance for a "remote" graph is technically an `EmptyGraph` instance, Ferma has some trouble. A similar question was posted on the Ferma "Getting Started" page:

http://syncleus.com/Ferma/getting_started/

[2021-06-17 11:53] spmallette commented on #52
In `DelegatingFramedGraph` it uses the structure API of `Graph.addVertex()`:

https://github.com/Syncleus/Ferma/blob/9a45e2d696100424711956d8fba368925d8c359e/src/main/java/com/syncleus/ferma/DelegatingFramedGraph.java#L305

for mutations so I think that's perhaps where there is a problem as `EmptyGraph` has no method implementations...it's just a placeholder:

https://github.com/apache/tinkerpop/b

[2021-06-17 11:56] freemo commented on #52
Oh yes, I recall that change.. it pissed off a lot of people at the
time and lost a chunk of the userbase sadly. I suppose Ferma could
replace the method calls to gremlin calls instead. Been a while since
I made major changes to Ferma so ill have to get back up to speed to
see what other hidden challenges there might be around that.

On Thu, Jun 17, 2021 at 7:53 AM stephen mallette
***@***.***> wr

[2021-06-17 12:12] spmallette commented on #52
thanks, i'd be curious as to what you run into. if you can itemize what you find as being troublesome, perhaps i can help brainstorm workarounds and/or help propose changes in TinkerPop to help smooth the path to get this all working nicely. i sense we've hit on the main trouble spots though at this point: (1) needing to use Gremlin as opposed to the `Graph` API and related (2) properties on eleme

[2021-06-17 12:33] freemo commented on #52
#1 is the big one, always has been since the major rewrite of tinkerpop. It
is the main reason Ferma development slowed down to maintenance level, it
was just too big of a change and not in line with the original incentive to
use Ferma/tinkerpop, that is, adding a robust type system on top of the
Graph API.

All that said I am not willing to give up on it and would like to
brainstorm ways I can br